@import '../../theme';

#catalogo {
    padding: 1rem 0 3rem 0;
    background-color: $primary-color;

    * {
        pointer-events: none;
    }

    .title {
        text-align: center;
        color: $accent-color;
        font-size: 2rem;
        font-weight: bold;
    }
        
    a:not(.btn) {
        color: $primary-color;
    }
}

:host ::ng-deep .p-carousel .p-carousel-prev,
:host ::ng-deep .p-carousel .p-carousel-next {
  /* tus estilos personalizados aquí */
  align-items: center;
  background-color: $tertiary-color;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  color: $accent-color;
  display: flex;
  height: 64px;
  justify-content: center;
  width: 64px;
  pointer-events: auto !important;

  .p-carousel-prev-icon, .p-carousel-next-icon {
    font-size: 1.5rem;
  }
}

.card {
    background-color: $accent-color;

    .content a {
        pointer-events: auto !important;
    }
}

.btn-wrapper {
    padding: 2rem 1rem 0 1rem;
    display: flex;
    justify-content: center;
    
    .btn {
        pointer-events: auto !important;
    }
}