<section id="inicio">
    <div class="overlay"></div>
    <h1 class="title">Cuando se diseña desde el corazón, la invitación cobra vida ❤️</h1>
    <button (click)="scrollToElement('catalogo')" class="btn">Diseños ✨</button>
</section>
<section id="video">
    <section class="youtube-container">
        <iframe class="youtube" src="https://www.youtube.com/embed/7TRjWrJu-88?si=iJQfiyCHBJMKhOIT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </section>
    <section class="text-container">
        <h1 class="title">Celebra tus eventos con nuestras Invitaciones Digitales</h1>
        <p class="subtitle">Compártelas de una manera fácil, bonita y con estilo y soprende a todos tus invitados.</p>
    </section>
    <!-- <section class="text-group">
    </section> -->

</section>